
<div class="container">

<h1>DogGO</h1>

<% @dogs.each do |dog| %>
  <%=link_to dog.name, dog_path(dog)%>
  <p><%= dog.age %></p>
  <p><%= dog.breed %></p>
  <p><%= dog.user_id %></p>
<% end %>
</div>
