<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-left">
    <a href="/" class="navbar-wagon-brand">
      <i class="fa fa-paw fa-3x"></i>
    </a>
    <form action="/dogs" method="get" class="form-inline" style="display: inline-block;">
      <input type="text" name="query" class="form-control" placeholder="search by breed">
      <!-- <input type="submit  class="btn"> -->
    </form>
  </div>


<!--   <div class="module-search">
    <div class="module-content">
        <form id="search-blog" method="get"
          action="http://themes.typepad.com/.services/blog/6a01675ec1e641970b0154384beb3e970c/search">
            <input type="search" name="filter.q" results="5" value= "City, Breed or Behavior" />
            <input type="submit" value="Go!" />
        </form>
    </div>
</div> -->
<!--     <button type="button" class="_2mvez7y"><span class="_12hl23n"><svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 16px; width: 16px; display: block; fill: currentcolor;"><path d="m10.4 18.2c-4.2-.6-7.2-4.5-6.6-8.8.6-4.2 4.5-7.2 8.8-6.6 4.2.6 7.2 4.5 6.6 8.8-.6 4.2-4.6 7.2-8.8 6.6m12.6 3.8-5-5c1.4-1.4 2.3-3.1 2.6-5.2.7-5.1-2.8-9.7-7.8-10.5-5-.7-9.7 2.8-10.5 7.9-.7 5.1 2.8 9.7 7.8 10.5 2.5.4 4.9-.3 6.7-1.7v.1l5 5c .3.3.8.3 1.1 0s .4-.8.1-1.1" fill-rule="evenodd"></path></svg></span><span class="_14aozyc">City, Breed or Behavior (e.g., Golden Retriever Manhatten") </span></button> -->



  <!-- Right Navigation -->

  <div class="navbar-wagon-right hidden-xs hidden-sm">

<!--
    <a href="" class="navbar-wagon-item navbar-wagon-link">Register</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">How it Works</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Add a Dog</a> -->
    <%= link_to "Log In", user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Register",  new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add a Dog", new_dog_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>


